streamlit>=1.22.0,<2.0.0
pytube
openai>=0.27.0,<0.28.0
chromadb
tiktoken
langchain>=0.0.184,<0.1.0
typing-inspect>=0.8.0,<0.9.0
typing_extensions>=4.5.0,<5.0.0
pandas
openai-whisper
pysqlite3-binary
torch
Pillow
